<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>

<div class="container">

  <h1 class="my-5">Admin page</h1>
  <h2 class="my-5">All users</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>View All Assets</th>
      <th>Delete User</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${allusers}">
      <td th:text="${user.username}"></td>
      <td th:text="${user.role}"></td>
      <td><a th:href="@{/update/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-edit"></i></a></td>
      <td><a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-danger"><i class="fa fa-user-times"></i></a></td>

    </tr>
    </tbody>
  </table>
  <p><a href="/files" class="btn btn-warning">Upload Asset</a> </p>
  <p><a href="/signup" class="btn btn-warning">Add User</a> </p>
  <p><a href="/assettypepage" class="btn btn-warning">Create Asset Type</a> </p>
  <p><a href="/viewassettype" class="btn btn-warning">View Asset Type Created</a> </p>
  <p><a href="/" class="btn btn-warning">Logout</a> </p>

</div>

</body>
</html>